.image {
  border-radius: 1em;
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image:before {
  transition: opacity 0.2s ease-in-out;
  border-radius: 1em;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.avatar {
  border-radius: 50%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 50%;
  width: 360px;
  max-width: 100%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: auto;
}

@media print, screen and (max-width: 960px) {
  .image.avatar img {
    width: 300px;
    padding: 10px;
  }
}

@media print, screen and (max-width: 480px) {
  .image.avatar img {
    width: 240px;
    padding: 10px;
  }
}